<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>

<p>View all of our recipes here!</p>

<% @recipe.each do |ri| %>
  # Aquí podemos agregar la foto más adelante
  <h3><%= puts ri.name %></h3>
  # Tal vez aquí agregar un -- cooking time | calories
<% end %>
