<%# <div class="container"> %>
  <%# <div class="row"> %>
    <%# @recipes.each do |recipe| %>
      <%# <div class="col-4 mb-5"> %>
        <h3><%#= recipe.name %></h3>
        <p>INGREDIENTS</p>
        <p><%= recipe.ingredients %></p>
        <p>PREPARATION</p>
        <p><%= recipe.instructions %></p>

      </div>
    <% end %>
  </div>
</div>
