<div class="container row gap-3 justify-content-center align-items-center">
  <% @new_recipe_name.each do |recipe| %>
  <div class="card col-4" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= recipe %></h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <% end %>
</div>
