<div class="container">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <div class="col-4 mb-5" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top" title="Preparation instructions:" data-bs-content="<%= recipe.instructions %>">
        <div class="cont_principal">
          <div class="cont_central">
            <div class="cont_modal cont_modal_active">
              <div class="cont_photo">
                <div class="cont_img_back">
                  <%= cl_image_tag recipe.photo.key %>
                </div>
                <div class="cont_mins">
                  <div class="sub_mins">
                    <h3>50</h3>
                    <span>MINS</span>
                  </div>
                  <div class="cont_icon_right">
                    <%#= link_to add_mealplan_recipe_path do  %>
                      <i class="fa-solid fa-plus text-white"></i>
                    <%# end %>
                  </div>
                </div>
                <div class="cont_servings">
                  <h3>4</h3>
                  <span>SERVINGS</span>
                </div>
                <div class="cont_detalles">
                  <h3><%= recipe.name %></h3>
                  <%# recipe.ingredients.each do |ingredient|%>
                     <%#= ingredient.name %>
                  <%# end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
