.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  padding: 0px 5rem;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  font-size: 2rem;
  color: #7D1538;
  opacity: 0.35;
  text-decoration: none;
  font-size: 3rem;
  padding: 0px 1rem;
}
.footer-links a:hover {
  opacity: 1;
}

.social-media-icon {
  font-size: 3rem;
}

.footer-text {
  font-size: 2rem;
  margin-bottom: 0px;
}
