.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #EAEAEA;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;
  height: 32px;
}
